<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=Trailer1;PERSIST SECURITY INFO=True;USER ID=TRAILER1&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>